<br><br><br><br><br><br>
<footer>
<center>
<a style="font-family: var(--font); color: #fff; text-decoration: none;" href="https://discord.gg/p57Y2dvJzx">Created by Excriyin#8519</a>
</center>
</footer>
